<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Symfony Blog {% endblock %}</title>
    {% block css %}
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans:400,600&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/common.css') }}">
    {% endblock %}
</head>
<body>
    
    {% set route = app.request.attributes.get('_route') %}

    <header id="header">
        <nav id="menu-holder">
            <ul>
                <li class="{{ (route == 'home') ? 'active' : '' }}"><a href="{{ path('home') }}">Home</a></li>
                <li class="{{ (route == 'about') ? 'active' : '' }}"><a href="{{ path('about') }}">About</a></li>
                <li class="{{ (route == 'blog') or (route == 'blog_show') ? 'active' : '' }}"><a href="{{ path('blog') }}">Blog</a></li>
                <li class="{{ (route == 'contact') ? 'active' : '' }}"><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main id="content">
        {% block body %}{% endblock %}
    </main>
    <footer id="footer">
         
    </footer>

    {% block js %}

    {% endblock %}
</body>
</html>